
/* Use class "a" to set the default property values for the anchor tag. */
/* These values are in effect every time the anchor tag is used.        */
/* Do not explicitly reference this class in the application code.      */
a  { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;  
   line-height: normal; 
   font-weight: normal 
   }

/* Use class "a:link" to set the default property values for linked */
/* anchors.                                                         */
/* These values are in effect every time the anchor tag is used.    */
/* Do not explicitly reference this class in the application code.  */
a:link 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   line-height: normal; 
   font-weight: normal; 
   color: blue 
   }

/* Use class "a:visited" to set the default property values for    */
/* visited links.                                                  */
/* These values are in effect every time the anchor tag is used.   */
/* Do not explicitly reference this class in the application code. */
a:visited 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   line-height: normal; 
   font-weight: normal; 
   color: blue 
   }

/* Use class "body" to set the default property values for the     */
/* body tag.                                                       */
/* These values are in effect every time the anchor tag is used.   */
/* Do not explicitly reference this class in the application code. */ 
body 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   background-color: white; 
   margin-left: 0px; 
   margin-top: 0px
   }

/* Use class "table" to set the default property values for the    */
/* table tag.                                                      */
/* These values are in effect every time the table tag is used     */
/* (unless it is overridden by a class= statement).                */
/* Do not explicitly reference this class in the application code. */
table 
   {  
   font-family: Arial, Helvetica, sans-serif
   }

/* Use class "error_message" to define the property values for */
/* displaying an error message on the page.                    */
/* This is for error messages that are the result of PL/SQL    */
/* procedure processing. This class must be used consistently  */
/* for all these error messages.                               */
.error_message 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   color: red;
   background : url(stop_sign.gif) no-repeat;
   background-attachment : fixed;
   padding-left : 25px;
   line-height : 20px;
   }

/* Use class "form_data_left" to define the property values for  */
/* alphanumeric data input fields.                               */
/* These fields appear in the form input tags.                   */
/* The specification of alphanumeric form input fields must      */
/* include the statement "class=form_data_left".                 */ 
.form_data_left 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal;
  
   background-color: white;
   text-transform: uppercase; 
   text-align: left 
   }
/* border-bottom: #BFBFBF solid 1px;   //commented out by Alla Ilchenko 10/12/2001
/*   border-left: #BFBFBF solid 1px; 
/*   border-right: #BFBFBF solid 1px; 
/*   border-top: #BFBFBF solid 1px; 	 

/* Use class "form_data_left_required" to define the property   */
/* values for required alphanumeric data input fields.          */ 
/* These fields appear in the form input tags.                  */
/* The specification of required alphanumeric form input fields */
/* must include the statement "class=form_data_left_required".  */ 
.form_data_left_required 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   background-color: lemonchiffon;
   text-transform: uppercase;  
   text-align: left 
   }

/* DO NOT USE class "form_data_required".                   */
/* The function of this class (to designate a form input    */
/* field as required) is better served by using classes     */
/* "form_data_left_required" or "form_data_right_required". */
.form_data_required 
   {  
   background-color: lemonchiffon;
   text-transform: uppercase
   }

/* Use class "form_data_right" to define the property values   */
/* for numeric data input fields.                              */
/* These fields appear in the form input tags.                 */
/* The specification of numeric form input fields must include */
/* the statement "class=form_data_right".                      */
.form_data_right 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal; 
   background-color: white; 
   text-align: right 
   }
/* Use class "form_input" to define the property values   */
/* for numeric data input fields.                              */
/* These fields appear in the form input tags.                 */
/* The specification of numeric form input fields must include */
/* the statement "class=form_input".                      */
.form_input 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal; 
   background-color: white; 
   text-align: left 
   }

/* Use class "form_data_right_required" to define the      */
/* property values for required numeric data input fields. */
/* These fields appear in the form input tags.             */
/* The specification of required numeric form input fields */
/* must include the statement "class=form_data_right".     */
.form_data_right_required 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal; 
   background-color: lemonchiffon; 
   text-align: right 
   }

/* Use class "form_label" to define the property values for */ 
/* the labels that refer to the form input fields.          */  
/* The form labels are protected fields. Use this class for */
/* both required and non-required form labels.              */
/* The specification of form labels must include the        */
/* statement "class=form_label".                            */               
.form_label 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	    
   background-color: lightgrey 
   }

/* Use class "form_label_white" to define the property values for */ 
/* the labels that refer to the form input fields, but have no background color.*/  
/* The form labels are protected fields. Use this class for */
/* both required and non-required form labels.              */
/* The specification of form labels must include the        */
/* statement "class=form_label_white".                            */               
.form_label_white 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	    

   }

/* Use class "form_label_center" to define the property values for */ 
/* the labels that refer to the form input fields.          */  
/* The form labels are protected fields. Use this class for */
/* both required and non-required form labels.              */
/* The specification of form labels must include the        */
/* statement "class=form_label_center".                     */               
.form_label_center 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	    
   background-color: lightgrey;
   text-align: center 
   }

/* Use class "form_label_right" to define the property values for */ 
/* the labels that refer to the form input fields.          */  
/* The form labels are protected fields. Use this class for */
/* both required and non-required form labels.              */
/* The specification of form labels must include the        */
/* statement "class=form_label_center".                     */               
.form_label_right 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	    
   background-color: lightgrey;
   text-align: right 
   }

/* Do not use class "form_label_required".              */  
/* To achieve the lemonchiffon highlighting of required */
/* data input fields use "class=form_data_left_required */ 
/* or "class=form_data_right_required".                 */                 
.form_label_required 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: bold; 
   background-color: lemonchiffon 
   }

/* Use class "form_radiobutton" to set the default properties */
/* for form radiobuttons.                                     */  
.form_radiobutton 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: left 
   }
   
/* Use class "form_radiobutton_required" to set the default properties */
/* for form radiobuttons.                                     */  
.form_radiobutton_required 
   {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
	background-color: lemonchiffon;
	text-align: left;
}

/* Use class "instructions" for text lines that are used  */ 
/* to instruct the user about the use of the application. */
/* These instructions may appear in a paragraph or after  */
/* a break or other text related tags.                    */
/* The specification of instructions must include the     */
/* statement "class=instructions".                        */ 
.instructions 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   text-align: left 
   }

.menu_label 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   background-color: #99CCFF; 
   text-align: left 
   }

.menu_option 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   background-color: white; 
   text-align: left 
   }

/* Use class "page_subtitle" to set the default properties */
/* for page subtitles. That is, if the page has a main     */
/* title and a secondary title, the main title should use  */  
/* class "page_title and the secondary title should use    */
/* class "page_subtitle".                                  */
.page_subtitle 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 12pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center 
   }

/* Use class "page_title" for the title that appears  */
/* at the top of each page.                           */ 
.page_title 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 14pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center 
   }

.page_titleCopy 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 14pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center; 
   color: white; 
   background-color: navy 
   }

/* Do not use class "required_data".                           */
/* Required data is specific to data input using the form tag. */
/* Use "class=form_data_left_required" or                      */
/* "class=form_data_right_required" to highlight alphanumeric  */
/* or numeric data entry fields.                               */
.required_data   
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	
   text-transform: uppercase;  
   background-color: lemonchiffon 
   }

/* Use class "table_checkbox" to set the default properties */
/* for checkboxes.                                          */ 
.table_checkbox 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
   font-style: normal;    
   font-weight: normal; 
   background-color: white; 
   text-align: left 
   }

/* Use class "table_data_left" for all protected alphanumeric */
/* data that appears in a table.                              */
/* A table in this context is an arrangement of data into a   */
/* two-dimensional layout with rows and columns of like data. */
.table_data_left 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	   
   background-color: white;
   text-transform: uppercase;  
   text-align: left 
   }

/* Use class "table_data_left_ic" for all protected alphanumeric */
/* data that appears in a table.                              */
/* A table in this context is an arrangement of data into a   */
/* two-dimensional layout with rows and columns of like data. */
.table_data_left_ic 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	   
   background-color: white;
   text-transform: initcase;  
   text-align: left 
   }
/* Use class "table_data_right" for all protected numeric   */
/* data that appears in a table.                            */
/* A table in this context is an arrangement of data into a */
/* two-dimendional layout of rows and columns of like data. */   
.table_data_right 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: right 
   }

/* Use class "table_data_center" for all protected numeric   */
/* data that appears in a table.                            */
/* A table in this context is an arrangement of data into a */
/* two-dimendional layout of rows and columns of like data. */   
.table_data_center 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: center 
   }


/* Use class "table_label" for each of the column headings */
/* in a table.                                             */
.table_label 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   background-color: lightblue; 
   text-align: center; 
   vertical-align: middle 
   }

/* Use class "table_label_required" to indicate that an entry  */
/* into a table is required.  Because the entries take the     */
/* form of an array, we chose not to highlight each individual */
/* cell of the table as that might be construed to mean that   */
/* there must be an entry in each of the highlighted cells.    */
/* Rather, we are highlighting the column header instead.      */
/* The constraint is usually that at least one of the cells    */
/* must have an entry.                                         */  
.table_label_required 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal; 
   font-weight: bold; 
   background-color: lemonchiffon; 
   text-align: center; 
   vertical-align: middle    
   }

/* Use class "table_radiobutton" to set the default properties */
/* for table radiobuttons.                                     */  
.table_radiobutton 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: center 
   }

/* Use class "table_tab" to set the default properties */
/* of the "tabs".                                      */
.table_tab 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;
   color: white; 
   font-weight: bold; 
   text-align: center; 
   vertical-align: middle; 
   white-space: nowrap; 
   cursor: hand;
   background-color: white 
   }


.table_tab_base 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center; 
   vertical-align: middle; 
   white-space: nowrap; 
   border-top: white solid 3px; 
   border-left: darkgrey solid 3px; 
   border-bottom: #336699 solid 3px; 
   border-right: #336699 solid 3px; 
   background-color: white 
   }

/* Use class "table_tab_down" to set the properties that */
/* represent the condition of a "tab" being pressed.     */
.table_tab_down 
   {
   background-color: lightblue; 
   border-bottom: lightblue solid 3px;    
   border-left: #000099 solid 3px; 
   border-right: lightblue solid 3px;
   border-top: #000099 solid 3px;  
   color: black;
   cursor: hand;  
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center; 
   vertical-align: middle; 
   white-space: nowrap 
   }

/* Use class "table_tab_up" to set the properties that   */
/* represent the condition of a "tab" being up; that is, */
/* not depressed.                                        */ 
.table_tab_up 
   { 
   background-color: #336699; 
   border-bottom: #000099 solid 3px;   
   border-left: lightblue solid 3px; 
   border-right: #000099 solid 3px; 
   border-top: lightblue solid 3px; 
   color: white;
   cursor: hand; 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   text-align: center; 
   vertical-align: middle; 
   white-space: nowrap  
   }

/* Use class "table_with_border" to set property values for the    */
/* table tag when you want a table with borders.                   */
.table_with_border 
   {  
   border: ridge 4px;
   cell-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1px
   }

/* Use class "table_border" to set property values for the    */
/* table tag when you want a table with borders.                   */
.table_border 
   {  

   border-bottom: #999999 solid 5px;   
   border-left: #999999 solid 5px; 
   border-right: #999999 solid 5px; 
   border-top: #999999 solid 5px; 
   cell-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1px
   }

/* Use class "table_without_border" to set property values for     */
/* the table tag when you want a table without borders.            */               
.table_without_border 
   {  
   border: 0px;
   cell-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1px
   }
   
/* Tong Wang add form_data_center class  08/09/01                */   
   
/* Use class "form_data_center" to define the property values for  */
/* alphanumeric data input fields.                               */
/* These fields appear in the form input tags.                   */
/* The specification of alphanumeric form input fields must      */
/* include the statement "class=form_data_center".                 */ 
.form_data_center 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	 
   background-color: white;
   text-transform: uppercase; 
   text-align: center 
   }

/* class "message" to display error messages in red with red border*/
.message
{
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal;
   font-color:#FF0000;	
   border-bottom: #FF0000 solid 2px;   
   border-left: #FF0000 solid 2px; 
   border-right: #FF0000 solid 2px; 
   border-top: #FF0000 solid 2px; 	 
   background-color: white;
   text-align: center 
   }

*/class="form"   */

.form
    { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold;
   background-color: white;
   text-align: center 
   }


.table_data_small 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 8pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: center 
   }

.table_data_small_left
{ 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 8pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	   
   background-color: white;
   text-transform: uppercase;  
   text-align: left 
   }
.table_data_9_left
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: left 
   }
.table_data_9_center
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 9pt; 
   font-style: normal; 
   font-weight: normal;
   border-bottom: #BFBFBF solid 1px;   
   border-left: #BFBFBF solid 1px; 
   border-right: #BFBFBF solid 1px; 
   border-top: #BFBFBF solid 1px; 	  
   background-color: white; 
   text-align: center 
   }
.information_db 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: normal; 
   color: blue; 
   background : url(info.gif) no-repeat;
   background-attachment : fixed;
   padding-left : 25px;
   line-height : 20px;
   }
.warning_message 
   {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: red;
	background : url(warning_sign.gif) no-repeat;
	background-attachment : fixed;
	padding-left : 25px;
	line-height : 20px;
}
/* added confirmation_message for generic confirmation page
  Alla Terentieva 08.31.2005 */
.confirmation_message 
   {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
}

/* Use class "message_no_stop" to define the property values for */
/* displaying an message on the page.                    	*/
/* This is for messages that are the result of user message   	*/
.message_no_stop 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   color: red;
   }

/* Use class "table_label_left" for each of the column headings */
/* in a table left.                                             */
.table_label_left 
   { 
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 10pt; 
   font-style: normal;    
   font-weight: bold; 
   background-color: lightblue; 
   text-align: left; 
   vertical-align: middle 
   }
/* Use class "footer_link" for Footer */
    a.footer_link:link, a.footer_link:visited, a.footer_link:hover, a.footer_link:active
    {
    font-size: 10px; font-family: Arial;
    color: rgb(102,102,102);
    font-weight: normal;
    text-decoration: none;
    }
    
    a.footer_link:visited
    {
    font-size: 10px;
    font-family: Arial;
    }
    
    a.footer_link:hover
    {
    font-size: 10px;
    color: #012255;
    text-decoration: underline;
    font-family: Arial;
    }
    
    SPAN.footer_white_text, SPAN.footer_title_text
    {
    font-size: 10px; font-family: Arial;
    color: rgb(102,102,102);
    font-weight: normal;
    text-decoration: none;
    }
    hr
    {
    border: 1;
    height:1px;
    color:cccccc;
    }
    .vertical-line
    {
    width: 1px;
    height: 60;
    }
    .vcontrol
    {
    font-size: 4px;
    font-family: Arial;
    height:8;
    }
